.nav ul {
	text-align: right;
	margin-bottom: 0px;
	padding-top: 5px;
}
.nav{
	background: #ddd;
	position: fixed;
	z-index: 6;
	width: 100%;
	left: 0px;
	height: 30px;
	border-bottom: 1px solid white;
}
.nav li {
	list-style: none;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 15px;
}

.block{
	width: 100px;
	height: 5px;
	background: #333;
	margin: auto;
}

.introduction .block{
 	margin: 0px;
}

.contact .block{
	background: white;
}

p{
	font-family: 'Cardo', serif;
}
.container {
	width:100%;
	margin:0px;
	padding: 0px;
	/*background: rgba(0,0,0,0.1);*/
}
.greeting {
	min-height: 100vh;
	background: url(https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg);
	background-size: cover;
	background-position:bottom;
	padding-top: 200px;
    padding-bottom: 200px;
}
.greeting h1 {
	color: #333;
	text-align: center;
	font-size: 150px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.greeting h2 {
	text-align: center;
	font-size: 55px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	
}
.greeting h4 {
	text-align: center;
	font-family: 'Cardo', serif;
	font-size: 30px;
}
.photo img {
	height: 400px;
    border-radius: 50%;
	vertical-align:middle;
	margin-top: 100px;
	margin-right: 20px;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}
.introduction p {
	font-family: 'Cardo', serif;
	font-size: 20px;
	width: 500px;
}
.introduction h3 {
	padding-top: 80px;
	padding-bottom: 50px;
}
.introduction{
	padding-bottom: 150px;
	padding-left: 50px;
}
.photo {
	text-align: center;
	padding-bottom: 150px;
}
.skills h3 {
	text-align: center;
	padding-top: 50px;
}
.language h3 {
	padding-top: 50px;
	text-align: center;
	padding-right: 50px;
}
.skills li,.language li {
	list-style: none;
	text-align: center;
	background:black;
	color: white;
	border-radius: 5px;
	width: 150px;
	display: inline-block;
	padding: 10px;
	margin-top: 30px;
	margin-right: 5px;
	font-size: 20px;
}
.language ul {
	text-align: center; 
}
.skills ,.language {
	background: #ddd;
	height: 450px;
}
.hobbies {
	text-align: center;
}
.hobbies img{
	height: 140px;
	padding-top: 30px;
}
.hobbies h3{
	padding-top: 100px;
	margin: 50px;
}
.hobbies p{
	margin: 30px;
	font-size: 20px;
	padding-bottom: 200px;
	padding-top: 20px;
}
.experience h3 {
	text-align: center;
	margin:100px;
}
.experience {
	background: #ddd;
	text-align: center;
}
.gallery img {
	height: 350px;
	width: 350px;
    border-radius: 50%;
    vertical-align:middle;
    margin-bottom: 50px;
}
.gallery {
 	text-align: right;
}
.detail {
	height: 400px;
	position: relative;
}
.detail p {
	position: absolute;
    width:500px;
    height:200px;
    font-size: 25px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    font-family: 'Cardo', serif;
}
.btn-primary:focus{
	outline: none !important;
}
.btn-primary:hover:active{
	background: white;
	border: 1px solid black !important;
}

.btn-primary:hover{
	background: white;
	border: 1px solid black !important;
}
.paginations{
	background: black;
	color: white;
	border-radius: 100px;
	border: 1px solid black !important;
	margin-bottom:20px;
	margin-right: 5px; 
}

.paginations:hover ,.paginations:active, .paginations:focus{
	background: white;
	color: black ;
	
}
.contact {
	background: black;
	color: white;
	text-align: center;
	padding-bottom: 10px;
}
.icon {
	width: 30px;
	margin: 10px;
}
a {
	color: black;
	text-align: center;
	margin-right: 10px;
}
a:hover {
	color: white;
	border-bottom: 1px solid black;
}
a:focus {
	color: black;
}